header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;

  #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $media-mobile) {
      left: 5%;
    }
  }

  #navbar-mobile__button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 5;
    background-color: white;
    border: none;
    cursor: pointer;

    @media (min-width: $media-mobile) {
      display: none;
    }

    div:first-child {
      width: 100%;
      height: 3px;
      background-color: black;
      transition: all 0.3s;
    }
    div:first-child.rotate-down {
      transform: rotateZ(45deg);
      transform-origin: 1px;
      height: 2px;
      width: 140%;
    }
    div:nth-child(2) {
      width: 100%;
      height: 3px;
      background-color: black;
      transition: all 0.3s;
    }
    div:nth-child(2).hide {
      transform: translateX(-100%);
    }
    div:last-child {
      width: 100%;
      height: 3px;
      background-color: black;
      transition: all 0.3s;
    }
    div:last-child.rotate-up {
      transform: rotateZ(-45deg);
      transform-origin: 1px;
      width: 140%;
      height: 2px;
    }
  }

  #navbar-std {
    display: none;

    @media (min-width: $media-mobile) {
      display: block;
      margin-right: 1rem;
      .navbar__list {
        list-style: none;
        display: flex;
        gap: 1rem;

        .navbar__link {
          position: relative;
          font-family: "Quicksand", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 400;
          font-size: 18px;
          color: inherit;

          &:hover {
            color: rgb(121, 110, 110);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 1.5px;
            background-color: rgb(121, 110, 110);
            transform: scaleX(0);
            transition: all 0.3s ease-out;
            opacity: 0;
          }
          &:hover::after {
            transform: scaleX(1);
            opacity: 1;
          }
        }
      }
    }
  }

  #navbar-mobile {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5.5px);
    -moz-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    // z-index: 10;
    border-left: 1px solid black;

    .navbar__list {
      list-style: none;

      .navbar__item {
        margin-bottom: 1rem;

        .navbar__link {
          margin-bottom: 2rem;
          font-family: "Quicksand", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
          font-size: 18px;
          color: inherit;
        }
      }
    }
  }

  #navbar-mobile.visible {
    right: -100%;
  }
}
